<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Title</title>
</head>
<body>
<form th:action="@{/createAdmission/{id}(id=${patient.id})}" th:object="${admission}" th:method="POST">
    <div th:text="${patient.first_name}+' '+${patient.last_name}"></div>
    <select th:each="Doctor:${listDoctors}" name="doctor">
        <option th:text="${Doctor.first_name}+' '+${Doctor.last_name}" th:value="${Doctor.id}"></option>
    </select>
    <select name="room" th:each="Room:${listRooms}" >
        <option th:text="${Room.type}+${Room.name}" th:value="${Room.id}"></option>
    </select>
    <button type="submit">Submit</button>
</form>

</body>
</html>