<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Title</title>
</head>
<body>
<form th:action="@{/save/room}" th:object="${room}" th:method="POST" >

    <input type="text" th:field="*{type}">
    <input type="text" th:field="*{cost}">
    <input type="text" th:field="*{capacity}">
    <input type="text" th:field="*{availability}">
    <input type="text" th:field="*{name}">

    <button type="submit">Save</button>
</form>
</body>
</html>