<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admission Details</title>
</head>
<body>
<h4 th:text="${patient.first_name}+' '+${patient.last_name}"></h4><h4> Admitted On</h4><h4 th:text="${date}"></h4>
<h5>Referred By:</h5><h5 th:text="'Dr. '+${doctor.first_name}+' '+${doctor.last_name}"></h5>
Room Type : <h5 th:text="${room.type}"></h5>
Room No. :<h6 th:text="${room.name}"></h6>
<h5 th:text="${admission.status}"></h5>
<h5 th:if="${admission.status=='DISCHARGED'}">
    <h5 th:text="${admission.discharge_date}"></h5>
</h5>
<div></div>
</body>
</html>